:root {
	--textColor: #000;
	--textColorBright: #fff;
	--testColor: #fec30d;
	--deepGray: #282828;
	--lightGray: #f4f4f4;
	--danger: #ff4800;
}
body,
h1,
h2,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}
ul,
ol {
	list-style: none;
}
a {
	color: var(--textColor);
	text-decoration: none;
}

.wrap {
}
.header {
	width: 100%;
	border-bottom: 1px solid #c7c7c7;
}
.header__inner {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 1rem;
	max-width: 1200px;
}
.header h1 {
	margin-right: 1rem;
	font-family: 'Playwrite ES Deco', cursive;
	font-size: 1rem;
	line-height: 1.6;
}
.header__menu {
	display: flex;
	gap: 0.625rem;
	font-size: 1rem;
}
.header .search {
	margin: 0 1rem;
}

.container {
	margin: 0 auto;
	padding: 2rem;
	width: 1200px;
	box-sizing: border-box;
	/* border: 1px solid var(--testColor); */
}
.products__container ul {
	display: flex;
	gap: 0.5rem;
}
.products__container li {
	padding: 1rem;
	width: calc(100% / 5);

	box-sizing: border-box;
	background-color: #f1f1f1;
	/* background-color: var(--lightGray); */
}
.products__container li img {
	width: 100%;
}
.cart {
	margin-top: 2rem;
	padding: 1rem 2rem 2rem;
	background-color: var(--lightGray);
}
.cart h2 {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.cart h2:before {
	content: '';
	display: block;
	margin: 0 2px;
	width: 28px;
	height: 28px;
	/* background: url('../img/icon/icon-cart.svg') 0 2px no-repeat; */
	background-size: 100%;
}
.cart__drag {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 15rem;
	color: var(--lightGray);
	font-size: 1.5rem;
	background-color: var(--deepGray);
}
